In [2]:
import numpy as np
import pandas as pd 
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder

In [3]:
train_df = pd.read_csv('/content/drive/MyDrive/Medical_Insurance/Train_Data.csv')
train_df.head()

         age     sex        bmi smoker     region  children       charges
0  21.000000    male  25.745000     no  northeast         2   3279.868550
1  36.976978  female  25.744165    yes  southeast         3  21454.494239
2  18.000000    male  30.030000     no  southeast         1   1720.353700
3  37.000000    male  30.676891     no  northeast         3   6801.437542
4  58.000000    male  32.010000     no  southeast         1  11946.625900

In [4]:
train_df.describe()

               age          bmi     children       charges
count  3630.000000  3630.000000  3630.000000   3630.000000
mean     38.887036    30.629652     2.503581  12784.808644
std      12.151029     5.441307     1.712568  10746.166743
min      18.000000    15.960000     0.000000   1121.873900
25%      29.000000    26.694526     1.000000   5654.818262
50%      39.170922    30.200000     3.000000   9443.807222
75%      48.343281    34.100000     4.000000  14680.407505
max      64.000000    53.130000     5.000000  63770.428010

In [5]:
train_df.isnull().sum()

age         0
sex         0
bmi         0
smoker      0
region      0
children    0
charges     0
dtype: int64

In [6]:
correlation = train_df.corr()
train_df.corr()

               age       bmi  children   charges
age       1.000000  0.143527 -0.061076  0.299692
bmi       0.143527  1.000000 -0.041996  0.211325
children -0.061076 -0.041996  1.000000 -0.075089
charges   0.299692  0.211325 -0.075089  1.000000

In [7]:
Y = train_df['charges']
Y

0        3279.868550
1       21454.494239
2        1720.353700
3        6801.437542
4       11946.625900
            ...
3625    10987.324964
3626    11735.844352
3627    10602.385000
3628     8976.140452
3629     7027.698968
Name: charges, Length: 3630, dtype: float64

In [8]:
regressor = RandomForestRegressor(n_estimators=100)

In [9]:
label_encoder = LabelEncoder()

In [10]:
labels = label_encoder.fit_transform(train_df.sex)
labels1 = label_encoder.fit_transform(train_df.smoker)
labels2 = label_encoder.fit_transform(train_df.region)

In [11]:
train_df['sex'] = labels
train_df['smoker'] = labels1
train_df['region'] = labels2
train_df

            age  sex        bmi  smoker  region  children       charges
0     21.000000    1  25.745000       0       0         2   3279.868550
1     36.976978    0  25.744165       1       2         3  21454.494239
2     18.000000    1  30.030000       0       2         1   1720.353700
3     37.000000    1  30.676891       0       0         3   6801.437542
4     58.000000    1  32.010000       0       2         1  11946.625900
...         ...  ...        ...     ...     ...       ...           ...
3625  48.820767    0  41.426984       0       1         4  10987.324964
3626  38.661977    0  26.202557       0       2         2  11735.844352
3627  56.000000    1  40.300000       0       3         0  10602.385000
3628  48.061207    0  34.930624       0       2         1   8976.140452
3629  37.598865    0  25.219233       0       0         3   7027.698968

[3630 rows x 7 columns]

In [12]:
X = train_df.drop(['charges'],axis=1)
X

            age  sex        bmi  smoker  region  children
0     21.000000    1  25.745000       0       0         2
1     36.976978    0  25.744165       1       2         3
2     18.000000    1  30.030000       0       2         1
3     37.000000    1  30.676891       0       0         3
4     58.000000    1  32.010000       0       2         1
...         ...  ...        ...     ...     ...       ...
3625  48.820767    0  41.426984       0       1         4
3626  38.661977    0  26.202557       0       2         2
3627  56.000000    1  40.300000       0       3         0
3628  48.061207    0  34.930624       0       2         1
3629  37.598865    0  25.219233       0       0         3

[3630 rows x 6 columns]

In [13]:
regressor.fit(X,Y)

RandomForestRegressor()

In [14]:
test_data = pd.read_csv('/content/drive/MyDrive/Medical_Insurance/Test_Data.csv')
test_data

           age     sex        bmi smoker     region  children
0    40.000000    male  29.900000     no  southwest         2
1    47.000000    male  32.300000     no  southwest         1
2    54.000000  female  28.880000     no  northeast         2
3    37.000000    male  30.568094     no  northeast         3
4    59.130049    male  33.132854    yes  northeast         4
..         ...     ...        ...    ...        ...       ...
487  51.000000    male  27.740000     no  northeast         1
488  33.000000    male  42.400000     no  southwest         5
489  47.769999    male  29.064615     no  northeast         4
490  41.530738  female  24.260852     no  southeast         5
491  36.000000    male  33.400000    yes  southwest         2

[492 rows x 6 columns]

In [15]:
labels3 = label_encoder.fit_transform(test_data.sex)
labels4 = label_encoder.fit_transform(test_data.smoker)
labels5 = label_encoder.fit_transform(test_data.region)
test_data['sex'] = labels3
test_data['smoker'] = labels4
test_data['region'] = labels5
test_data

           age  sex        bmi  smoker  region  children
0    40.000000    1  29.900000       0       3         2
1    47.000000    1  32.300000       0       3         1
2    54.000000    0  28.880000       0       0         2
3    37.000000    1  30.568094       0       0         3
4    59.130049    1  33.132854       1       0         4
..         ...  ...        ...     ...     ...       ...
487  51.000000    1  27.740000       0       0         1
488  33.000000    1  42.400000       0       3         5
489  47.769999    1  29.064615       0       0         4
490  41.530738    0  24.260852       0       2         5
491  36.000000    1  33.400000       1       3         2

[492 rows x 6 columns]

In [16]:
prediction = regressor.predict(test_data)
prediction

array([ 7507.13965419,  8778.66662874, 12500.68999395,  6855.79904948,
       40849.57759727, 12621.93158455, 11284.50754514,  6983.87404951,
        2677.75375702, 14638.35874843,  6435.30265834,  4484.41336375,
        7986.00140326,  5222.59941813,  7812.88528995,  6706.26496332,
       13479.16933149, 15316.36891577, 15127.49053184,  7706.10227011,
       11442.43176501, 12717.21691094, 34915.35438402, 11665.01938328,
       10689.91567485, 11332.93601234, 21286.35670305, 12039.22661924,
       11053.40602518, 10030.93945208,  4671.91604092,  5406.74344945,
        4708.29169419, 10994.90272729,  3181.45873286,  6539.58450356,
       35407.73677552,  5061.01289318,  8813.39961653,  4900.92996923,
       23837.70054343,  6592.11221535, 18318.5728307 ,  9662.11244296,
        6396.27281124,  8646.79283851, 11626.41767428,  4875.03330598,
        9915.55476471, 40660.40080213,  9304.49735535,  4621.86206822,
       13051.14396418, 19972.83370388, 14024.58024181, 17089.58009115,
       14049.72766314, 14829.19834168,  7452.87582859, 18013.53949114,
       13594.33723943,  5228.276475  , 24954.64252287,  5176.23417951,
        6183.16565669, 14704.03835948,  5772.51230711, 12266.51922703,
        8594.9166212 , 10351.68913553,  9920.99036473, 14388.19132788,
        7922.71837619,  4523.71933562, 13812.76421541, 16190.91848234,
       18474.26351527, 12647.80602678, 10031.31607777,  1860.87323322,
       13781.3224186 , 18391.82612102,  9828.97544917, 19977.16744696,
        8939.04692197,  3091.41886   , 11377.82316384,  9171.25941556,
       15882.09255676, 12495.07015588, 12214.98678866, 43693.61778042,
        6726.70837175,  7898.9170467 ,  1344.8862685 ,  2143.8554755 ,
        1744.80967093, 15412.1207757 , 24639.94166136,  3463.8175845 ,
        5280.53582833, 12909.87994576,  2536.09651181,  6833.53149342,
       10806.8604168 , 16137.40328217,  4751.18522295,  4118.69231508,
       10339.31575808, 11452.85289224, 12750.13222979, 41002.35874396,
        6458.26035534, 11505.78849241, 14690.15420565,  5115.57735164,
        6635.05888195,  5065.14316589,  2704.34542666, 26548.17492711,
        6436.40444995, 13144.00192459,  6022.12295091,  8942.71866804,
       24975.11604704,  9008.55589259,  9235.17758844,  5163.05828312,
       35191.95305618,  9297.34550153,  4620.76017846,  1898.37502   ,
        6177.32498743, 11514.99396597,  7725.69523097,  5883.81646052,
       10599.20782453,  6983.87404951,  4342.58622137, 13771.47239415,
       39748.11308143, 13619.82824411, 28991.80570303, 10499.27892047,
        4863.32390916, 11492.88537702,  7597.4126265 , 12225.84632407,
        9948.66760523, 38954.37486527,  1891.90945346, 12660.64102099,
        6725.3184666 , 42554.74371702,  9225.38963249,  4274.59176413,
        5388.53324092,  2819.23190034, 10922.36174165, 34346.09312122,
        5471.98772772,  8940.87544745,  5914.16065036, 14328.5005648 ,
       17590.16333445, 10759.52840999,  6709.59570582,  4893.71435627,
        7377.9817813 , 11836.98141845, 19688.05022322, 12880.88389636,
       12028.60312758, 18786.55943223,  6574.91424183,  6093.03072505,
        4840.47341716,  4955.89975712,  9346.36571463,  1952.77095408,
        4831.35021717,  7282.95248543, 36706.41728212, 41273.01691321,
        5955.16090646,  5407.5370539 , 11030.87688678,  4854.57646452,
        5978.55326143, 18110.04072796, 18538.51143349,  9329.66598453,
       41878.12316173,  4735.80390931,  4839.73539211,  5588.7438801 ,
       10385.29890028,  8299.32579098, 20036.47470702, 11063.93764471,
        3957.07461683,  6159.83709406, 13426.627478  , 17632.74814747,
       25234.20947723, 17711.93926028, 14155.73486475,  9616.07827781,
       35543.46199945, 21694.10228704,  9644.12744566,  6621.0517732 ,
        4935.71384685, 11382.27316613, 35630.05183098, 11960.00911723,
        7437.80546573, 12251.65940523,  8601.2351992 ,  5927.34274213,
        4721.19049586, 16078.93811226, 37359.06491988,  9745.65905017,
       17930.43477436,  8914.02512576, 48180.54792902, 18996.09538623,
        9651.91592449,  7861.22552812,  3777.6830518 ,  6234.57066981,
       12772.96924737, 12692.73183902,  6938.53792661,  6528.22079497,
       13895.2756218 , 16295.88822704, 12689.44540517, 37964.6001454 ,
       43565.584479  , 16832.8837295 ,  6595.83360676, 11932.88011308,
        9541.6613174 ,  8179.07360653, 10577.72334146,  6582.41838314,
       11844.62017274, 37776.94825793,  6654.71824208, 14708.31921458,
       19871.24872766,  5646.43106854, 12485.54582142,  6550.62953688,
       17618.45120802,  5072.03895818, 20045.34439051, 19605.2895941 ,
        4858.39324578,  5435.51376423,  3107.79597294, 37917.59067345,
       10753.83003062,  2161.6588159 ,  3891.75028817,  4430.58353475,
        7937.50710758, 20029.07702035,  9011.02343048,  8187.55708001,
        7447.49499303,  1320.6917035 ,  4491.0302738 ,  6653.64711264,
        5878.1441447 ,  1887.02184526,  4883.43756035,  5213.49007518,
       15501.36148959,  7147.41843446, 35810.87559558, 11624.59985716,
       10622.46836245, 29241.86042555,  4826.34573008, 15922.89958069,
       14628.211944  , 14959.53659363,  9885.0480327 , 16717.56397603,
       41671.53632297, 21438.92815333, 11053.54567722,  3824.22721244,
        4396.04960025,  7457.77659117, 12027.03172985, 20227.09166176,
       14205.4935632 , 16531.48536703,  9734.41839789,  6590.32985408,
       12278.9737525 ,  5509.94829355, 31510.32142439,  7298.63984641,
        6132.20548571,  4958.04464639, 13038.29114348,  6087.04834829,
        2987.78028156,  6660.18091358,  9461.74895054, 17323.51406376,
       12622.91825768,  6750.33472206,  5443.98899109, 13245.40954863,
        8614.18068343, 13155.41189   ,  7040.70021497,  3395.46572899,
        6371.6706399 ,  4649.03453483, 11637.24334337, 32271.0557585 ,
        8948.53413983, 19907.59263133,  6849.14437261, 12925.20496839,
       18801.27024265, 48656.48766681,  5288.78993139, 11016.28067973,
        4448.35406524,  2954.94415021, 10986.22047782, 15100.00918719,
       12174.95104029, 13656.58926167, 18187.37125983, 25160.58820712,
       10114.52878677, 17959.62409495, 21520.98646889,  4952.16157561,
        7152.13483124, 18464.63632547, 10985.88876333,  4603.28515953,
        7805.47432651, 12017.74105508, 47505.07754886, 14405.05698219,
        8829.18625039, 23186.86511503,  8937.09875608,  8618.42161491,
       23264.62195215,  6660.18723901,  6195.16610708,  5366.362242  ,
        8240.64513542, 15293.59239598,  4470.23975546,  9616.1810484 ,
       12070.24528695,  6652.13699588, 15560.2522492 ,  4917.32330802,
       47165.98820711,  2670.0454611 , 11666.9034063 ,  6790.62280667,
       10351.68913553,  2292.4095215 ,  4704.09347103, 20424.37052049,
       11614.7521996 , 12796.43763066, 12790.82260078,  4709.8811494 ,
        6725.35593895,  3255.24941825,  3179.21140728,  2624.85243146,
       13208.0183507 ,  6972.50183673, 14398.09743368, 13565.08010195,
       16888.21023163, 13325.17912728,  2633.35781192, 13148.67376453,
        5106.94439096,  9458.89358429, 14885.58259641, 23743.70809566,
        4701.16196824,  4189.4511879 , 15129.93718263,  5010.31050366,
       14214.44198   , 38252.96295707, 13080.26213996, 15982.81262216,
       10966.33418088,  9638.35014007, 12522.42408783, 14987.06017103,
        6437.20112637, 14816.09034092,  6660.02831347, 15014.96289129,
        5549.79698107, 12609.9955684 , 10729.65042111,  6691.49679559,
        6209.7561574 , 26089.93374617, 11094.43683619, 38416.99956329,
       37764.83017185,  5406.98746117,  9729.43037552,  7986.05570574,
       10655.04710403,  2307.2474911 , 10852.34417551,  5164.24356119,
        7060.05682355, 37443.37146367,  9515.60615878, 15902.10567231,
       20217.93833816, 15184.5701217 ,  5202.0230361 ,  8745.98783647,
        2002.93816394,  5748.48754203,  7429.83424642, 11867.2892589 ,
       11089.60026728,  9811.90684921,  4817.38394572,  6238.57251812,
        2018.01034374, 19277.82932674,  4552.27675739, 14137.475535  ,
        7683.1009025 , 18516.85201265, 12625.64828643,  6862.86430269,
       43792.64537062,  9874.25182109,  8851.986795  ,  6952.69999509,
       17382.96888962,  9949.41376212,  8573.06166789,  4815.88366675,
        8839.96509978, 10962.0379034 , 15243.15514781, 21832.19398462,
        6690.09192938, 15715.01029554,  6634.70064223, 40591.00652338,
       34254.05869701, 13716.76337992,  5626.61510012,  7175.61803436,
       17454.79532522, 12946.39467419,  5422.13212575, 24275.15367848,
        9511.11456031, 12086.47240624,  8880.50431007, 12397.12008849,
       14561.33866568, 10971.62292619, 18307.49484261, 15427.77231243,
        6799.87756817, 12699.51365142,  9304.48268963, 38586.71017101])

In [20]:
import pickle

In [22]:
filename = 'medical_insurance.sav'
pickle.dump(regressor,open(filename,'wb'))